.base {
	font-size: xx-large;
	text-decoration: none;
	color: white;
	transition: background-color 0.5s;
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
	&:hover {
		background-color: rgb(255,255,255,0.1);
	}
}